extends ../layout
block style_propio
    //link(rel='stylesheet', type='text/css', href='/css/sig_style.css')
    link(rel='stylesheet', type='text/css', href='/css/contenido_display.css')
    style.
        .txt-ind {
            margin-left: 10px;
            font-size: 14px;
            word-wrap: break-word !important;
            max-width: 80% !important;
        }
        .fa-smp {
            font-size: 1em !important;
        }
        .elementoPadre{    
            background-color: rgba(255,255,255,0);
            margin: 0% 6%;
            border-color: rgba(255, 255, 255, 0);
        } 
        .elemento{
            background-color: #e6f0ff;
            border-radius: 6px;
            border: 1px solid rgba(0, 76, 153, .3);
            padding-left: 20px;
        }
        .elemento-link {
            color: rgba(0, 76, 153, .7) !important;
        }
        .elemento-link:hover {
            text-decoration: none;
            cursor: pointer;
        }
        .collapsed-own {
            width: 100% !important;
            text-align: left !important;
        }
        .btn-blue-own {
            background-color: rgba(0, 76, 153, .7);
            color: white;
        }
        .btn-blue-own:hover, .btn-blue-own:active {
            background-color: rgba(0, 76, 153, .9);
        }
        .btn-blue-own:focus, .btn-blue-own:hover, .btn-blue-m:hover, .btn-blue-m:focus {
            color: white;
        }
        .btn-blue-own:focus {
            background-color: rgba(0, 76, 153, .9);
        }
        .btn-blue-m {
            background-color: #1976d2;
            color: white;
            margin: 2% 4%;
        }
        .btn-blue-m:hover, .btn-blue-m:active {
            background-color: #1565c0;
        }
        
block contenido
    h2.color_texto_base.text-center SISTEMA INTEGRADO DE GESTIÓN
    .row 
        .col-sm-12
            .row
                if (datos_sig.length != 0)
                    - var n = 0
                    .col-sm-12    
                        each datos,index in datos_sig
                            if datos.children != null                                                                                                                 
                                .elementoPadre.alert.alert-primary(id="collapseParent"+datos.id)
                                    .row
                                        a.btn.btn-blue-own.collapsed-own(data-toggle="collapse", href="#collapseChild"+datos.id, role="button", aria-expanded="false", aria-controls="collapseChild"+datos.id)                            
                                            i.far.fa-caret-square-right.fa-smp(id='iconParent'+datos.id)
                                                span.txt-ind=datos.titulo
                                    .collapse(id='collapseChild'+datos.id, data-id=datos.id)                                                                      
                                        each datosHijos in datos.children
                                            .elemento(style="padding-bottom: 10px;padding-top: 10px;")
                                                a.elemento-link(href= backend_route + datosHijos.ruta, target='_blank')                            
                                                    i.far.fa-file-pdf
                                                    span &nbsp;&nbsp;&nbsp;
                                                    span(style="white-space: normal;")=datosHijos.titulo
                            else                                            
                                if n == 0
                                    p(hidden)=n++
                                    .col-12
                                        h5.text-center Otros
                               
                                .col-sm-3.text-center
                                    a.w-100.btn.btn-blue-m(href= backend_route + datos.ruta, target='_blank')
                                        i.far.fa-file-pdf
                                        span &nbsp;&nbsp;&nbsp;
                                        span(style="white-space: normal;")=datos.titulo
                else
                    .col-12.text-center
                        p.alert.alert-warning No tiene documentos registrados

block scripts        
    script.
        $(document).ready(function() {
            $(".collapse").on('shown.bs.collapse', function(){
                var dtid = $(this).attr('data-id');
                $('#iconParent'+dtid).removeClass('fa-caret-square-right')
                $('#iconParent'+dtid).addClass('fa-caret-square-down')
            });

            $(".collapse").on('hidden.bs.collapse', function(){
                var dtid = $(this).attr('data-id');
                $('#iconParent'+dtid).removeClass('fa-caret-square-down')
                $('#iconParent'+dtid).addClass('fa-caret-square-right')
            });    
        })
